.span{
	position: absolute;
	height: auto;
	width: 75px;
	text-align: center;
	font-size: 32px;
	border-radius: 30px;
	border:solid 2px black;
}
input{
	position: absolute;
	top:590px;
	width: 300px;
	height: 30px;
	font-size: 100px;
	text-align: center;
	background: blue; 
	color: black;
	left: 480px;
}
#score{
	position: absolute;
	margin-left: 980px;
	width: 180px;
	height: 50px;
	margin-top: 10px;
	background: red;
	font-size: 18px;
	text-align: center;

}
#lose{
	position: absolute;
	height: 150px;
	width: 250px;
	text-align: center;
	font-size: 47px;
	color: black;
	border-radius: 42px;
	border:1px solid black;
	left: 550px;
	top:220px;
	background: orange;
}
#gameover{
	position: absolute;
	height: 150px;
	width: 250px;
	text-align: center;
	font-size: 47px;
	color: violet;
	border-radius: 42px;
	border:1px solid gold;
	left: 550px;
	top:220px;
	background: gray;
	text-decoration: overline;
}